<!DOCTYPE html>
<html lang="en">
    <head>
        <title>search485</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <!-- entire page -->
    <div class="feed">
        <body id="page">
            <!-- title -->
            <div class="ask485" style="text-align:left;">
                <p>ask485</p>
            </div>

            <!-- entire search form -->
            <div>
                <form action="/" method="GET">

                    <!-- search bar -->
                    <div class="search_bar" style="text-align:center;">
                        <input type="text" name="q" id="q" value=document.getElementById(q)/>
                    </div>

                    <!-- pagerank title -->
                    <div class="pagerank_weight" style="text-align:right;">Pagerank Weight</div>

                    <!-- slider -->
                    <div><input type="range" name="w" min="0" max="1" value="0.01"/></div>

                    <!-- search button -->
                    <input type="submit" value="Search"/>
                </form>
            </div>

            <!-- search results -->
            <div class="docs">
                <!-- if no results, display message -->
                {% if docs|length %}
                    <div class="no_results">No search results found!</div>

                <!-- otherwise, show top docs -->
                {% else %}
                    {% for doc in docs %}

                        <!-- show url -->
                        {% if doc.url is defined %}
                            <a class="doc_url">
                                <a href="{% doc.url %}">
                            </a>
                        {% else }
                            No url available.
                        {% endif %}
                        
                        <!-- show title -->
                        <div class="doc_title">
                            {% doc.title %}
                        </div>

                        <!-- show summary -->
                        {% if doc.summary is defined}
                            <div class="doc_summary">
                                {% doc.summary %}
                            </div>
                        {% else }
                            No summary available.
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </body>
    </div>
</html>