<!DOCTYPE html>
<html lang="en">
    <head>
        <title>search485</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <!-- entire page -->
    <body id="page">
        <div class="feed">
            <!-- title -->
            <div class="ask485" style="text-align:left;">
                <p>ask485</p>
            </div>

            <!-- entire search form -->
            <div>
                <form action="/" method="GET">

                    <!-- search bar -->
                    <div class="search_bar" style="text-align:center;">
                        <input type="text" name="q" id="q" value="{{ query }}"/>
                    </div>

                    <!-- pagerank title -->
                    <div class="pagerank_weight" style="text-align:right;">Pagerank Weight</div>

                    <!-- slider -->
                    <div><input type="range" name="w" min="0" max="1" step="0.01" value="{{ weight }}"/></div>

                    <!-- search button -->
                    <input type="submit" value="Search"/>
                </form>
            </div>

            <!-- search results -->
            {% if show_results %}
            <div class="docs">
                <!-- if no results, display message -->
                {% if not docs|length > 0 %}
                    <div class="no_results">No search results found!</div>

                <!-- otherwise, show top docs -->
                {% else %}
                    {% for doc in docs %}

                        <!-- show url -->
                        {% if doc.url %}
                            <a class="doc_url" href="{{ doc.url }}">{{ doc.url }}</a>
                        {% else %}
                            <a class="doc_url" href="">No url available</a>
                        {% endif %}
                        
                        <!-- show title -->
                        <div class="doc_title">
                            {{ doc.title }}
                        </div>

                        <!-- show summary -->
                        <div class="doc_summary">
                        {% if doc.summary %}
                            {{ doc.summary }}
                        {% else %}
                            No summary available
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </body>
</html>